 
 body{
/*
	background: rgb(255,255,255);
	background: linear-gradient(rgba(255,255,255) 0%, rgba(255,255,255,1) 100%);
	min-width:700px;
*/
 	/*filter:blur(10px);*/
 }
 
/************************************************************************
         			 	 Navbar
*************************************************************************/
/*
nav{
	background-color: #0994E1;
	color: white;
}
*/
.nav-link:hover{
	text-decoration: underline;
}

/************************************************************************
         			 	 index page content
*************************************************************************/
.index-page h1{
	text-align: center;
}
.index-page p{
	margin-top: 2%;
}
@media (max-width: 501px) {
	.index-page img{
		width: 300px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 500px) {	
	.index-page img{
		width: 550px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

/************************************************************************
         			 	 Contact page content
*************************************************************************/
.contact-page textarea{
	height: 150px;
}

.contact-page input[type=text], textarea {
  width: 100%; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin: 2px 0px 12px 0px; 
  resize: vertical; 
}
/*input[type=submit]*/
.contact-page .btn {
  background-color: white;
  color: #0994E0;
  padding: 5px 20px;
  border: #0994E0 solid 1.5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px 30px 0px;
	
}
.contact-page .btn:hover {
  background-color: #0994E0;
  color: white;
	
}

/*
.input-group{
	float: right;
  	margin-left: 100px;  
}
*/

/************************************************************************
         			 	 Common Problem page content
*************************************************************************/
.common-problem li a{
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}
.common-problem li a:hover{
	color: black;
	text-decoration-color: #0994E1; 
}

/************************************************************************
         			 	 Footer
*************************************************************************/
footer{
	background-color: #0994E1;
	color: white;
	margin-top: 10px;
}
footer h4{
	margin: 15px 0px 10px 0px;
}
.footer-icons img{
	float: left;
    width: 25px;
    height: 25px;
	margin-right: 10px;
	
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	text-decoration: underline;
	color: white;
}
.footer-bottom{
	text-align: center;
}
@media (max-width: 501px) {
     footer a{
         font-size: 0.8rem;
        }
	footer p{
		font-size: 0.75rem
	}
	footer h4{
		font-size: 1.1rem;
	}
}
@media (max-width: 350px) {
     footer a{
         font-size: 0.68rem;
        }
	footer p{
		font-size: 0.68rem
	}
	footer h4{
		font-size: 1rem;
	}
}
